@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap-custom";


.menu-block-wrapper {margin-top:20px;}

.navbar-header {padding-right:15px;}

.navbar-nav {
	.active-trail {@extend .active;}
}

.main-container .menu {
		a.active-trail {color: $gray;}
}

// branding 
.branding {
	margin: 1.5em 0;
	.phoneno {
		line-height: 32px;
		@extend h2;
		sup {color: $gray-light;}
	}
}

// gallery stuff
.field-image-gallry {
	// colorbox flavor
	display: inline;
	// a colorbox has margin-right, img has bottom
	.colorbox { float: left; margin: 0 $line-height-computed 0 0;}
	img {margin: 0 0 $line-height-computed 0;}
}
// carousel
.flex-carousel .flexslider .slides li {margin-right: 5px;}
// slideshow
.field-chunks .flexslider {max-width: 698px; margin-right: 0;}

.field-paragraph-text {clear: both;}
.entity-paragraphs-item {@include clearfix; margin: $line-height-computed 0;}

// hide h1 from section content
.node-type-section-content .page-header {display: none;}

// panel views

.pane-content .views-row, .panel-panel .views-row  {
	margin-bottom: 1.5em;
}

// IPE Modals

#modal-content {
	fieldset {
		top: 12px;
		legend {top: -12px; font-size: 12px;}
	}
	.panel-body {	padding: 12px 8px;	}
	#panopoly-form-widget-preview .panel-body {max-height: 22em; overflow: scroll;}
	.form-control {height:24px; padding: 2px 6px;}
	.form-group {margin-bottom: 6px;}
	.help-block {margin-bottom: 6px;}
}