@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap-custom";
@import "compass/css3";


.menu-block-wrapper {margin-top:20px;}

.navbar-header {padding-right:15px;}

.navbar-nav {
	.active-trail {@extend .active;}
}

.main-container .menu {
		a.active-trail {color: $gray;}
}


#bg-image {
	position: absolute; left:0; top: 0;
	width: 100%; height: 130px;
	background-color: white;
}
// admin navbar
.logged-in #bg-image {top:39px;}
.logged-in.navbar-tray-open #bg-image {top:79px;}

// branding 
.branding {
	margin: 20px 0 1.5em;
	.phoneno {
		line-height: 32px;
		@extend h2;
		margin-top: 12px;
		sup {color: $gray-light;}
	}
}

// gallery stuff
.field-image-gallry {
	// colorbox flavor
	display: inline;
	// a colorbox has margin-right, img has bottom
	.colorbox { float: left; margin: 0 $line-height-computed 0 0;}
	img {margin: 0 0 $line-height-computed 0;}
}
// carousel
.flex-carousel .flexslider .slides li {margin-right: 5px;}
// slideshow
.field-chunks .flexslider {max-width: 698px; margin-right: 0;}

.field-paragraph-text {clear: both;}
.entity-paragraphs-item {@include clearfix; margin: $line-height-computed 0;}

// hide h1 from section content
.node-type-section-content .page-header {display: none;}

// panel views

.pane-content .views-row, .panel-panel .views-row  {
	margin-bottom: 1.5em;
}

.footer {
	margin-top: 3em;
	padding: 1em 0;
	border-top: 1px solid $gray-lighter;
	color: $gray-light;
	
	a {color: $gray-light; text-decoration: underline;}
	
	img.map {border:4px solid #d5d5d5;}
	
	h2,h3,h4,h5.h6 {margin-top: 0;}
}

// IPE Modals

#modal-content {
	fieldset {
		top: 12px;
		legend {top: -12px; font-size: 12px;}
	}
	.panel-body {	padding: 12px 8px;	}
	#panopoly-form-widget-preview .panel-body {max-height: 22em; overflow: scroll;}
	.form-control {height:24px; padding: 2px 6px;}
	.form-group {margin-bottom: 6px;}
	.help-block {margin-bottom: 6px;}
}

// frontpage tweaks 

.node-frontpage .field-long-title {margin: 1em 0;}
.page-home {
	h1.page-header {display: none;}
	.branding {
		margin-top: 220px;
		color: #f5f5f5;
		@include text-shadow(rgba(black, 0.8) 1px 2px 0);
		.phoneno {
			line-height: 32px;
			@extend h2;
			sup {color: $gray-lighter;}
		}
	}
	#bg-image {
		width: 100%; height: 330px;
		background: url(/sites/azori.ru/files/bg-panorama.jpg) 50% -225px no-repeat;
	}
	// banners
	.panel-bootstrap-pane {
		margin-bottom: 1em;
		padding: 0 0 1em 0;
		border-bottom: 1px solid $gray-lighter;
		.pane-azori-ads-panel-pane-2 .pane-content {float: right;}
		.banner-small {margin-bottom: 15px;}
	}
	
}